

.container {
  padding: 24px;

}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

}

.gradient-custom {
  /* fallback for old browsers */
  background: #8C000F;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(222, 244, 252, 1), rgba(164, 132, 172, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(222, 244, 252, 1), rgba(164, 132, 172, 1))
}
section {
  background-size: cover;
}

.collection-filter__toolbar-controls__button {
  border: 1px solid grey;
  border-radius: 3px;
  color: grey;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 12px;
  text-transform: uppercase;
  float: left;
}

.collection-filter__sort-select-filter {
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
  -ms-appearance: menulist-button;
  -o-appearance: menulist-button;
  appearance: menulist-button;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 62px;
  opacity: .001;
  height: 42px;
}

.example-form-field{
  margin: 7px;
}



