<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name <i (click)="sortByName()" class="fas fa-sort"></i></th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Owner</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let shop of shops; let index = index">
    <th class="table-light" scope="row">{{ index + 1 }}</th>
    <td class="table-danger">{{ shop.name }}</td>
    <td class="table-success">{{ shop.phone }}</td>
    <td class="table-info">{{ shop.address }}</td>
    <td class="table-warning">{{ shop.owner }}</td>

  </tr>
  </tbody>
</table>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">
      <a (click)="setPage('negative')" class="page-link">Previous</a>
    </li>
    <input [(ngModel)]="page" />
    <li class="page-item">
      <a (click)="setPage('positive')" class="page-link">Next</a>
    </li>
  </ul>
</nav>
