<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <h1>Car ID : {{car.id}}</h1>
          <button type="button" class="btn btn-danger" routerLink="/garage/{{garageId}}" (click)="deleteCar()">Delete Car</button>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-12 p-0 klo">
                <div class="container-xxl px-4 mt-4">
                    <div class="row">
                      <div class="col-xxl-8">
                            <!-- Vehicle details card-->
                            <div class="card mb-4">
                                <div class="card-header">Vehicle Details</div>
                                <div class="card-body">
                                    <form>

                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (first name)-->
                                            <div class="col-md-6">
                                                <h4>Select Brand</h4>
                                                <select  (change)="onChange()" [(ngModel)]="car.brand" [ngModelOptions]="{standalone:true}"
                                                         class="form-select form-control-lg m-2" aria-label="Default select example">
                                                  <option [ngValue]="car.brand" selected>Current brand : {{car.brand.name}}</option>
                                                    <option *ngFor="let brand of brands" [ngValue]="brand" >{{brand.name}}</option>
                                                </select>
                                            </div>
                                            <!-- Form Group (last name)-->
                                            <div class="col-md-6">
                                                <h4>Select Model</h4>
                                                <select [(ngModel)]="car.model"  [ngModelOptions]="{standalone:true}" class="form-select form-control-lg m-2" aria-label="Default select example">
                                                    <option [ngValue]="car.model" selected>Current model now : {{car.model.name}}</option>
                                                    <option  *ngFor="let model of models"  [ngValue]="model">{{model.name}}  </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Form Row        -->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="inputOrgName">Year</label>
                                                <input [(ngModel)]="car.year"  [ngModelOptions]="{standalone:true}" class="form-control" id="inputOrgName" type="text" placeholder="{{car.year}}" value="{{car.year}}">
                                            </div>
                                        </div>
                                        <!-- Form Group (email address)-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">License Plate</label>
                                            <input [(ngModel)]="car.licensePlate"  [ngModelOptions]="{standalone:true}" class="form-control" id="inputEmailAddress" type="email" placeholder="{{car.licensePlate}}" value="{{car.licensePlate}}">
                                        </div>
                                        <!-- Save changes button-->
                                        <button (click)="updateCar(car.id)" class="btn btn-outline-warning" type="button">Save changes</button>
                                    </form>
                                </div>
                            </div>
                      </div>
                      <div class="col-xxl-4">
                        <!-- Images card-->
                        <div class="card mb-4 mb-xl-0">
                          <div class="card-header">Car images</div>
                          <div class="card-body text-center">
                            <!-- Car Add image-->
                            <div id="carouselExampleDark" class="carousel carousel-dark slide col-xxl-12" data-bs-ride="carousel" width="100%" height="100%">
                              <div class="carousel-inner myt des" >
                                <div *ngFor="let image of images" class="carousel-item active" data-bs-interval="10000">
                                  <img src="{{image.filebase64}}" class="d-block w-100" alt="...">
                                  <h1 class="carousel-item-end text-warning">{{image.name}}</h1>
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                            <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target=".bd-example-modal-xl">Update images</button>

                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-5">
                        <!-- Images card-->
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-4">
        <div class="row r4">
            <div class="col-md-2 myt des"><a>Vehicle damage record</a></div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center text-warning">Add/Delete images or image</h1>
        <button type="button" class="close" data-bs-dismiss="modal">×</button>

      </div>
      <div class="modal-body choice-modal">
        <div class="container-fluid">
          <div class="row inner-scroll myt des">
            <div class="col-md-1">
              <h3 class="text-secondary">Select all images
                <input type="checkbox" (change)="checkAllCheckBox($event.target)" [checked]="isAllCheckBoxChecked()">
              </h3>
            </div>
            <div class="col-md-3 "  *ngFor="let image of images;let i=index">
              <div class="gallery-card">
                <div class="gallery-card-body">
                  <label class="block-check">
                    <img (change)="checkAllCheckBox($event.target)" src="{{image.filebase64}}" class="img-responsive col-xl-9" />
                    <input type="checkbox" value="{{image.id}}" [(ngModel)]="image.checked">
                    <span class="checkmark"></span>
                  </label>
                  <div class="mycard-footer">
                    <a class="card-link">{{image.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add picture block-->
          <div *ngFor="let progressInfo of progressInfos" class="mb-2">
            <span>{{ progressInfo.fileName }}</span>
            <div class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progressInfo.value }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progressInfo.value + '%' }"
              >
                {{ progressInfo.value }}%
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <label class="btn btn-default p-0">
                <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
              </label>
            </div>
          </div>
          <button [disabled]="!selectedFiles"
                  (click)="uploadFiles()" class="btn btn-outline-warning" type="button">Upload new image</button>
          <div>
            <h2 f *ngIf="selectedFiles">Images which u want to add :</h2>
            <img *ngFor='let preview of previews' [src]="preview" class="preview col-xl-3">
          </div>
          <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
            <ul *ngFor="let msg of message; let i = index">
              <li>{{ msg }}</li>
            </ul>
          </div>
          <div *ngIf="msg" [ngClass]="clss">{{msg}}</div>
          <!-- Add picture block ends-->
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" (click)="deleteImages()">Delete choosen images</button>
              </div>
        </div>

      </div>
    </div>
  </div>
</div>
